/ImageSwing/dist/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/Soma/nbproject/private/
/Soma/build/
/CalcAge/nbproject/private/
/CalcAge/build/
/BasicCalculator/nbproject/private/
/BasicCalc/nbproject/private/
/BasicCalc/build/
