/ImageSwing/dist/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/Soma/nbproject/private/
/Soma/build/
/CalcAge/nbproject/private/
/CalcAge/build/
/BasicCalculator/nbproject/private/
/BasicCalc/nbproject/private/
/BasicCalc/build/
/Genio/nbproject/private/
/Genio/build/
/AgeComparator/nbproject/private/
/AgeComparator/build/
/SomaWhileType/nbproject/private/
/SomaWhileType/build/
/SomaWhileType2/nbproject/private/
/SomaWhileType2/build/
/Emcapsulamento/nbproject/private/
/Emcapsulamento/build/
