/ImageSwing/dist/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/Soma/nbproject/private/
/Soma/build/
/CalcAge/nbproject/private/
/CalcAge/build/
/BasicCalculator/nbproject/private/
/BasicCalc/nbproject/private/
/BasicCalc/build/
/Genio/nbproject/private/
/Genio/build/
/AgeComparator/nbproject/private/
/AgeComparator/build/
/SomaWhileType/nbproject/private/
/SomaWhileType/build/
/SomaWhileType2/nbproject/private/
/SomaWhileType2/build/
/Emcapsulamento/nbproject/private/
/Emcapsulamento/build/
/JavaApplication13/nbproject/private/
/FirstAlgoritmoClass/nbproject/private/
/FirstAlgoritmoClass/build/
/Interface/nbproject/private/
/Interface/build/
/UltraEmojiCombat/nbproject/private/
/UltraEmojiCombat/build/
/ProjetoLivro/nbproject/private/
/ProjetoLivro/build/
/Pessoas/nbproject/private/
/ProjetoPessoas/nbproject/private/
/ProjetoPessoas/build/
/ProjetoEscola/nbproject/private/
/ProjetoEscola/build/
/ProjetoAnimal/nbproject/private/
/ProjetoAnimal/build/
